# Homework
You need to install Python, NumPy, Pandas, Matplotlib and Seaborn.

In [1]:
import numpy as np
import pandas as pd

### Q1. Pandas version

What's the version of Pandas that you installed?

You can get the version information using the `__version__` field:

```python
pd.__version__
```

In [2]:
print(f"The version of Pandas that I installed is {pd.__version__}")

The version of Pandas that I installed is 2.2.1

## Getting the data 

For this homework, we'll use the Laptops Price dataset. Download it from 
[here](https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv).

You can do it with wget:

```bash
wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
```

Or just open it with your browser and click "Save as...".

Now read it with Pandas.

In [3]:
df = pd.read_csv("laptops.csv")
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

## Q2. Records count

How many records are in the dataset?

In [4]:
print(f"There are {df.shape[0]} records in the dataset")

There are 2160 records in the dataset

## Q3. Laptop brands

How many laptop brands are presented in the dataset?

In [5]:
print(f"There are {df['Brand'].nunique()} laptop brands presented in the dataset")

There are 27 laptop brands presented in the dataset

## Q4. Missing values

How many columns in the dataset have missing values?

In [6]:
print(f"There are {(df.isnull().sum() > 0).sum()} columns in the dataset that have missing values")

There are 3 columns in the dataset that have missing values

## Q5. Maximum final price

What's the maximum final price of Dell notebooks in the dataset?

In [7]:
print(f"The maximum final price of Dell notebooks in the dataset is {df[df['Brand'] == 'Dell']['Final Price'].max()}")

The maximum final price of Dell notebooks in the dataset is 3936.0

## Q6. Median value of Screen

1. Find the median value of `Screen` column in the dataset.
2. Next, calculate the most frequent value of the same `Screen` column.
3. Use `fillna` method to fill the missing values in `Screen` column with the most frequent value from the previous step.
4. Now, calculate the median value of `Screen` once again.

Has it changed?

> Hint: refer to existing `mode` and `median` functions to complete the task.

In [8]:
before_median = df["Screen"].median()
df["Screen"] = df["Screen"].fillna(df["Screen"].mode().iloc[0])
after_median = df["Screen"].median()
if before_median != after_median:
    print("Yes, it has changed")
else:
    print("No, it has not changed")

No, it has not changed

## Q7. Sum of weights

1. Select all the "Innjoo" laptops from the dataset.
2. Select only columns `RAM`, `Storage`, `Screen`.
3. Get the underlying NumPy array. Let's call it `X`.
4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
5. Compute the inverse of `XTX`.
6. Create an array `y` with values `[1100, 1300, 800, 900, 1000, 1100]`.
7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
8. What's the sum of all the elements of the result?

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.

In [9]:
innjoo_df = df[df["Brand"] == "Innjoo"]
features = ["RAM", "Storage", "Screen"]
X = innjoo_df[features].to_numpy()
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100])
w = XTX_inv @ X.T @ y
print(f"The sum of all the elements of the result is {round(np.sum(w), 2)}")

The sum of all the elements of the result is 91.3

## Submit the results

* Submit your results here: https://courses.datatalks.club/ml-zoomcamp-2024/homework/hw01
* If your answer doesn't match options exactly, select the closest one